.base_components_strat_layout {
  width: 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  cs('background', 'base-background-color');
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1030;

  img {
    width: 100%;
    max-width: 511px;
    display: block;
    margin-top: -10%;
  }
}