
.base_components_down_layout {
  width: 100%;
  position: relative;

  .down_time_box {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    .down_box {
      span {
        font-weight: 400;
        font-size: 0.24rem;
        font-family: DSEG7 Classic;
        font-weight: 400;
        color: #FFE87A;
        line-height: 1;
        margin-top: 0.06rem;
        display: block;
      }

      p {
        font-size: 0.1rem;
        font-family: DSEG7 Classic;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.6);
        transform: scale(0.83);
      }
    }
  }
}