.swiper_content_wrap_nodata {
  ms('height', 150px 180px 200px 250px 300px 370px 370px);
  display: flex;
  align-items: center;
  justify-content: center;
  ms('font-size', 16px 18px 20px 22px 24px 26px);
  cs('color', 'base-font-color');
}

.swiper_content_wrap {
  width: 100%;
  padding-top: 29px;
  cs('color', 'base-font-color');

  .swiper_content {
    width: 100%;
    position: relative;

    .slide_box {
      width: 100%;
      position: relative;
      cs('background', 'base-swiper-background');
      border-radius: 13px;
      overflow: hidden;

      .slide_text {
        width: 100%;
        position: relative;
      }
    }
  }

  .hot_auctions {
    .swiper {
      border-radius: 13px;
      overflow: hidden;
    }

    .slide_img {
      position: relative;
      overflow: hidden;
      display: block;

      .main_img {
        width: 100%;
        display: block;
        border-radius: 13px;
        position: relative;
      }

      .main_img_bg {
        width: 100%;
        display: block;
        border-radius: 13px;
        position: relative;
        opacity: 0;
      }

      .main_img_cover {
        border-radius: 13px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        z-index: 2;
      }

      .portrait_person {
        position: absolute;
        right: 6px;
        bottom: 9px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        padding: 5px 7px 5px 5px;
        background: #17181E;
        border-radius: 21px;
        z-index: 3;

        p {
          font-size: 12px;
          font-family: Arial-Bold, Arial;
          font-weight: bold;
          color: #F5A603;
          position: relative;
        }

        img {
          position: relative;
          width: 15px;
          display: block;
          border-radius: 50%;
          margin-right: 2px;
        }
      }

      .hover_data {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(23, 24, 30, 0.37);
        opacity: 0;
        border-radius: 13px;
        padding: 0 37px;
        transition();

        .base_components_button_layout {
          min-height: 40px;
          font-size: 16px;
          padding-left: 10px;
          padding-right: 10px;

          a {
            color: #fff;
            display: flex;
          }

          img {
            width: 17px;
            height: 16px;
            margin-left: 5px;
          }
        }
      }

      &:hover {
        .hover_data {
          opacity: 1;
        }
      }
    }

    .slid_bg {
      width: 100%;
      padding: 9px 10px 16px;

      .remain_bar {
        border-radius: 32px;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgb(228, 239, 255);
        overflow: hidden;
        ms('margin-top', 6px 8px 10px 12px 14px 14px);

        &.hide {
          visibility: hidden;
        }

        span {
          position: absolute;
          left: 0;
          top: 0;
          height: 8px;
          border-radius: 32px;
          width: 0.274929%;
          background: rgb(29, 200, 1);
        }
      }

      .slide_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 9px;

        .tits {
          padding: 5px 0;
          font-size: 14px;
          cs('color', 'base-font-color');

          img {
            width: 14px;
          }
        }

        .val {
          font-size: 13px;
          font-family: Arial-Bold, Arial;
          font-weight: bold;
        }
      }

      .slide_value {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .name {
          padding: 5px 0;
          font-size: 12px;
          color: #878787;

          img {
            width: 14px;
          }
        }

        .slid_price {
          ms('font-size', 14px 14px 15px 15px 16px 16px);
          cs('color', 'base-font-color');
          font-weight: bold;
        }

        .val {
          font-size: 12px;

          .time {
            display: flex;
            align-items: center;

            em {
              color: rgb(29, 200, 114);
              width: 14px;
              height: 14px;
              margin-right: 2px;
            }
          }
        }
      }
    }
  }

  .recently_added {
    .slid_bg {
      .recently_title {
        padding-top: 5px;
        display: flex;
        font-size: 14px;
        color: #F5A603;
        margin-bottom: 9px;

        img {
          width: 14px;
          margin-right: 4px;
        }
      }

      .recently_text {
        color: #878787;

        span {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 6px;
          display: block;
          cs('color', 'base-font-color');
        }
      }
    }

    .slide_img {
      .hover_data {
        .base_components_button_layout {
          background: #FF8000;
        }
      }

      .top_number {
        position: absolute;
        left: 10px;
        top: 8px;
        background: #fff;
        color: #17181E;
        border-radius: 50%;
        overflow: hidden;
        width: 17px;
        height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
      }

      .bottom_recely {
        position: absolute;
        left: 10px;
        bottom: 10px;

        img {
          width: 21px;
          display: block;
        }
      }

      .top_amount {
        position: absolute;
        right: 6px;
        top: 6px;
        background: #fff;
        color: #17181E;
        border-radius: 22px;
        overflow: hidden;
        padding: 0 4px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;

        em {
          width: 14px;
          height: 14px;
          background: #F5A603;
          border-radius: 50%;
          margin-right: 3px;
        }
      }
    }
  }

  .top_collections {
    .slide_img {
      width: 100%;
      padding-top: 76%;
      position: relative;

      .main_img {
        height: 118px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 80%;
      }

      .portrait_center {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate3d(-50%, 0, 0);
        width: 90px;
        height: 90px;
        padding: 4px;
        border-radius: 50%;
        overflow: hidden;
        cs('background', 'base-swiper-background');
        margin-bottom: 10px;

        img {
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 50%;
        }
      }
    }

    .collections_title {
      width: 100%;
      text-align: center;
      font-size: 14px;
      font-family: Arial-Regular, Arial;
      font-weight: 400;
      cs('color', 'base-font-color');
      margin-bottom: 6px;
    }

    .collections_item {
      width: 100%;
      text-align: center;
      font-size: 12px;
      color: #878787;
      margin-bottom: 6px;
    }

    .collections_value {
      width: 100%;
      text-align: center;
      font-size: 14px;
      font-family: Arial-Regular, Arial;
      cs('color', 'base-font-color');
      font-weight: bold;

      em {
        color: #FF4343;
      }
    }
  }
}

.swiper-button-wrap {
  position: absolute;
  top: -48px;
  right: 52px;
  width: 70px;
  height: 27px;
  ms('display', none none block block block block);

  .swiper-button-prev, .swiper-button-next {
    width: 27px;
    height: 27px;

    &:after {
      content: '';
    }

    transition();

    &:hover {
      opacity: 0.7;
    }
  }

  .swiper-button-prev {
    // background-image: url('/@/assets/images/left.png');
    // background-position: center top;
    // background-repeat: no-repeat;
    // background-size: cover;
    left: 0;
  }

  .swiper-button-next {
    // background-image: url('/@/assets/images/right.png');
    // background-position: center top;
    // background-repeat: no-repeat;
    // background-size: cover;
    right: 0;
  }
}