.footer_bottom_wrap {
  width: 100%;
  position: relative;

  &.white {
    background: #fff;
  }

  .footer_bottom {
    width: 100%;
    position: relative;
    max-width: 1236px;
    margin: 0 auto;
    ms('padding-left', 10px 10px 20px 30px 20px 10px);
    ms('padding-right', 10px 10px 30px 40px 10px 10px);
    ms('padding-top', 30px 40px 50px 60px 70px 80px);
    ms('padding-bottom', 30px 40px 50px 60px 70px 80px);

    .footer_box {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .footer_logo {
        ms('width', 100% auto auto auto auto auto);
        margin-bottom: 20px;

        .f_logo {
          ms('width', 71px 81px 91px 101px 111px 111px);

          img {
            width: 100%;
            display: block;
          }
        }
      }

      .footer_relate {
        ms('width', 100% auto auto auto auto auto);

        .f_text {
          ms('text-align', left left left right right right);
        }

        .brelate {
          display: flex;

          a {
            display: block;
            ms('width', 24px 28px 32px 36px 44px 44px);
            ms('height', 24px 28px 32px 36px 44px 44px);
            background: #000;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 12px;
            ms('margin-bottom', 4px 5px 6px 7px 8px 8px);
            transition();

            &:first-child {
              ms('margin-left', 0 0 0 12px 12px 12px);
            }

            &:hover {
              transform: scale(1.1);
            }

            img {
              width: 60%;
              height: 60%;
              display: block;
            }
          }
        }
      }
    }

    .f_text {
      font-family: 'Poppins-SemiBold';
      ms('font-size', 12px 12px 13px 13px 14px 15px);
      font-weight: 600;
      color: #1A1210;
      ms('margin-top', 10px 14px 18px 22px 24px 24px);
    }
  }
}