.exchange_content_wrapper {
  width: 100%;
  position: relative;
  ms('min-height', 63vh 60vh 64vh 68vh 62vh 62vh);

  .exchange_content {
    width: 100%;
    position: relative;
    ms('padding-top', 28px 58px 78px 88px 98px 108px);
    ms('padding-bottom', 28px 58px 78px 88px 98px 108px);
  }

  .exchange_title {
    width: 100%;
    position: relative;
    ms('margin-bottom', 14px 16px 18px 20px 22px 24px);

    h2 {
      width: 100%;
      position: relative;
      text-align: center;
      ms('font-size', 30px 32px 34px 36px 38px 40px);
      font-family: 'Source Han Sans CN Regular';
      font-weight: bold;
      color: #1A1210;
    }

    span {
      ms('font-size', 12px 12px 13px 13px 14px 14px);
      font-family: 'Source Han Sans CN-Regular';
      font-weight: 400;
      color: #1A1210;
      text-align: center;
      width: 100%;
      display: block;
      ms('margin-top', 10px 12px 14px 16px 18px 20px);
    }
  }

  .exchange_detail {
    background: #EDEDED;
    ms('border-radius', 17px 19px 21px 23px 25px 27px);
    border: 1px solid #707070;
    max-width: 511px;
    margin: 0 auto;
    overflow: hidden;
    ms('padding-top', 17px 27px 37px 47px 47px 47px);
    ms('padding-bottom', 17px 27px 37px 47px 47px 47px);
    ms('padding-left', 17px 22px 32px 42px 42px 42px);
    ms('padding-right', 17px 22px 32px 42px 42px 42px);

    .detail_title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      ms('margin-bottom', 7px 8px 9px 10px 11px 12px);
      ms('height', 24px 26px 28px 30px 32px 32px);

      .coin {
        display: flex;
        align-items: center;
        ms('font-size', 14px 16px 18px 20px 22px 22px);
        font-family: 'Poppins-Medium';
        font-weight: 500;
        color: #1A1210;
        text-transform: uppercase;

        img {
          ms('width', 20px 22px 24px 26px 28px 28px);
          display: block;
        }

        p {
          ms('margin-left', 5px 6px 7px 8px 9px 10px);
        }
      }

      span {
        ms('font-size', 12px 12px 13px 13px 14px 14px);
        font-family: 'Source Han Sans CN-Regular';
        font-weight: 400;
        color: #1A1210;
      }
    }

    .base_components_input_layout .input_wrap {
      ms('height', 46px 52px 58px 64px 70px 70px);
    }

    .detail_switch {
      width: 100%;
      position: relative;
      display: block;
      // ms('padding-top', 8px 9px 10px 11px 12px 13px);
      ms('padding-bottom', 15px 16px 17px 18px 18px 19px);
      padding-top: 13px;

      // padding-bottom: 19px;
      a {
        margin: 0 auto;
        display: block;
        ms('width', 29px 34px 39px 44px 49px 49px);

        img {
          width: 100%;
          display: block;
        }
      }
    }

    .detail_button {
      width: 100%;
      position: relative;
      ms('margin-top', 15px 17px 19px 21px 23px 25px);

      .base_components_button_layout {
        ms('min-height', 40px 46px 52px 58px 62px 62px);
      }
    }
  }
}